/* Основной цвет текста #757575 */
/* Вторичный цвет текста #212121 */
/* Основной цвет фона #E5E5E5 */
/* Вторичный цвет фона #2F303A */
/* Цвет акцента #2196F3 */
/* Цвет лого 1 #2196F3 */
/* Цвет лого 2 #000000 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* можно убрать точки у li c class="list"*/
/* .list {
  padding: 0;
  margin: 0;
  list-style: none;
} */

/* button {
  list-style: none;
} */

button {
  font-family: inherit;
}

/* убрал нижнее подчеркивание у всех ссылок */
a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* -------------------------------HEADER---------------------------------*/

.overlay {
  /* max-width: 1600px;
  height: 480px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid #212121;
  background-image: linear-gradient(
      to right,
      rgba(255, 0, 0, 0.5),
      rgba(0, 0, 255, 0.5)
    ),
    url(../images/hero-fon.jpg); */
  /* background-image: url(../images/hero-fon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
}

/* .container {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.box {
  height: 190px;
  width: calc(50% - 20px);
  margin: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.box:nth-last-child(1) {
  background-color: tomato;
  background-image: url(../images/astronaut\ 1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.box:nth-last-child(2) {
  background-color: rgb(187, 71, 255);
  background-image: url(../images/clock\ 1.png);
  background-repeat: repeat-x;
  background-position: center;
}

.box:nth-last-child(3) {
  background-color: rgb(184, 255, 143);
  background-image: url(../images/diagram\ 1.png);
  background-repeat: repeat-y;
  background-position: center;
}

.box:nth-last-child(4) {
  background-color: rgb(255, 247, 101);
  background-image: url(../images/diagram\ 1.png);
  background-repeat: no-repeat;
  background-position: center;
} */

/* .overlay {
  max-width: 1000px;
  height: 400px;

  background-image: url("https://cdn-icons-png.flaticon.com/512/361/361678.png"),
    url("https://cdn-icons-png.flaticon.com/512/4206/4206277.png"),
    url("https://cdn-icons-png.flaticon.com/512/814/814513.png"),
    url("https://tlgrm.ru/_/stickers/e3a/876/e3a87689-707f-3495-b94a-8ee96e2538e5/39.webp"),
    url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_1280.jpg");

  background-size: 80px, 100px, 150px, 130px, cover;
  background-repeat: no-repeat;
  background-position: top 120px right 130px, top 270px left 130px, center,
    100px 60px, center;
} */

body {
  background-color: #f9f9fd;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

/* ========================================================================= */

/* .box {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  margin: 20px;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);;
}

.box.relative {
  position: relative;
  top: 120px;
  left: 120px;
}

.box:nth-child(1) {
  background-color: aquamarine;
}

.box:nth-child(2) {
  background-color: blueviolet;
}

.box:nth-child(3) {
  background-color: rgb(226, 17, 17);
} */

/* ========================================================================= */

/* .thumb {
  position: relative;
  margin: 10px;
  border-radius: 4px;
  overflow: hidden;
  background-color: cornsilk;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.thumb > .label {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 8px 16px;
  border-bottom-left-radius: 4px;

  font-family: sans-serif;
  font-size: 24px;
  background-color: #2196f3;
  color: #ffffff;
} */

/* -===================================================================== */


/* .chat-button {
  position: fixed;
  right: 30px;
  bottom: 30px;

  display: inline-block;
  width: 64px;
  height: 64px;

  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  background-image: url("https://cdn-icons-png.flaticon.com/512/1653/1653630.png");
  background-size: contain;

  cursor: pointer;
} */

/* ================================================================================= */

/* .section {
  margin-bottom: 20px;
}

.section-title {
  position: sticky;
  top: -1px;

  margin: 0;
  padding: 16px;
  background-color: #ccc;
  text-align: center;
  text-transform: uppercase;

  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
  0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.section-text {
  font-size: 18px;
  margin-bottom: 0;
}

.section:nth-child(1) .section-title {
  color: #fff;
  background-image: repeating-linear-gradient(
    -45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
}
.section:nth-child(2) .section-title {
  color: #fff;
  background-image: repeating-linear-gradient(
    to right,
    #f6ba52,
    #f6ba52 10px,
    #ffd180 10px,
    #ffd180 20px
  );
}

section:nth-child(3) .section-title {
  color: #fff;
  background-image: repeating-radial-gradient(
    circle,
    #ff8a00,
    #ff8a00 10px,
    #e52e71 10px,
    #e52e71 20px
  );
} */

/* ================================================================================ */

/* .box {
  border: 2px solid yellowgreen;
  width: 400px;
  height: 200px;
  overflow: scroll;
} */

/* =============================================================================== */

/* img {
  display: block;
  max-width: 100%;
  height: auto;
}

.thumb {
  border: 10px solid blue;
  border-radius: 50px;
  width: 480px;

  overflow: hidden;
} */

/* ================================================================================ */

/* h1 {
  text-align: center;
  font-size: 24px;
}

.box {
  position: relative;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  background-color: cadetblue;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  overflow: hidden;
}

.box:hover .overlay {
  transform: translateX(0);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: coral;

  transform: translatex(-100%);
  transition: transform 250ms ease;
}

.overlay > p {
  color: #ffffff;
  padding: 10px;
  margin: 0;
  font-size: 18px;
}

.overlay code {
  display: inline-block;
  padding: 2px 4px;
  border-radius: 2px;
  background-color: #ffffff;
  color: #2a2a2a;
} */

/* ==================================================================================== */
/* ========================================МОДАЛКА===================================== */

/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(255, 122, 56, 0.5);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-height: 300px;
  min-width: 400px;
  padding: 15px;

  background-color: #ffffff;
} */

/* ===================================================================================== */
/* =======================================ВСПЛЫВАЮЩЕЕ МЕНЮ============================== */

.menu {
  padding: 20px;
  margin: 0;
  list-style: none;
  display: flex;
}

.menu-item {
  position: relative;
  margin-right: 15px;
  outline: 2px solid tomato;
}

.menu-item:hover .submenu {
  display: block;
}

.menu-item:hover .menu-link {
  background-color: palevioletred;
}

.menu-link {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  background-color: teal;
  color: #ffffff;
}

.submenu {
  position: absolute;
  padding: 10px;
  margin: 0;
  left: 0;
  top: 100%;
  width: 100%;
  list-style: none;
  background-color: #ccc;
  display: none;
}



.submenu a {
  text-decoration: none;
}

/* =========================================================================== */